<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="jp.classmethod.android.sample.volley"
    android:versionCode="1"
    android:versionName="1.0" >
    
    <uses-permission android:name="android.permission.INTERNET"/>

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="17" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="VolleySample"
        android:theme="@android:style/Theme.Light" >
        <activity
            android:name="jp.classmethod.android.sample.volley.MainActivity"
            android:label="VolleySample" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="jp.classmethod.android.sample.volley.ImageLoadingActivity"/>
    </application>

</manifest>
